@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Sour Gummy', sans-serif;
  background-image :url('background2.jpg');
  background-position: center;
  background-size: cover;

}

body {
  background-color: #eb6250;
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}

header {
  background-color: #c9342a;
  padding: 2rem 2rem;

}

header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

header a {
  color: #000;
  text-decoration: none;
}

section {
  padding: 3rem 2rem 2rem 2rem;
}

section h1 {
  margin-bottom: 3rem;
}

hr {
  border: none;
  border-top: solid #ee2828 4px;
  margin: 3rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: #1B1B3A;
}

.pajat > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 1.5rem;
}

.pajat > div > div:nth-child(3) {
  text-align: right;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

input {
  border: 1px solid #292727;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;
}

input[type=submit] {
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  background-color: #35b660;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}

