@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Sour Gummy', sans-serif;
   font-weight: 500;
  font-style: normal;
  background-image :url('background7.jpg');
  background-position: center;
  background-size: cover;
   

}

body {
  background-color: #eb6250;
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}

header {
  background-color: #cc281c;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; /* Siirtää profiilin headerin alareunaan */
  font-size: 1.5rem;
  border-bottom: 3px solid #ff4545;
  box-shadow: 0 10px 40px rgba(240, 14, 14, 0.8);
  padding-bottom: 10px;
}



header h1 {
  font-size: 3.9rem;
  margin-left: 0.5rem;
  font-family:'Pirata One', system-ui;
  font-weight: 400;
  font-style: normal;
  
}

header a {
  color: #000;
  text-decoration: none;
  
  
  
}

section {
  padding: 3rem 2rem 2rem 2rem;
}

section h1 {
  margin-bottom: 3rem;
  font-family:'Pirata One', system-ui;
  font-weight: 400;
  font-style: normal;
}

hr {
  border: none;
  border-top: 6px solid #ff1303;
  margin: 3rem;
  box-shadow:
    0 0 25px rgba(255, 19, 3, 1),
    0 0 50px rgba(255, 19, 3, 0.9),
    0 0 100px rgba(255, 19, 3, 0.8),
    0 0 150px rgba(255, 19, 3, 0.7);
}



footer {
  font-size: 0.8em;
  text-align: center;
  color: #1B1B3A;
}

.pajat > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 1.5rem;
}

.pajat > div > div:nth-child(3) {
  text-align: right;
 
}

.pajat a {
    text-decoration: underline;   /* näkyy normaalisti */
    color: #ffffff;
    background-color: #cc281c;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.pajat a:hover {
    color: #ffffff;
    background-color: #35b660;   /* hover-väri */
    text-decoration: none;
}


form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

input {
  border: 1px solid #292727;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;
}

input[type=submit], .button {
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  border: 3px solid #3f3f3f;
  background-color: #35b660;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.info {
  background-color: #f74e4e;
  border: 2px solid #3f3f3f;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.info a {
  color: #418a17;
}

.flexarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.button {
  text-decoration: none;
}


#snow {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* ei estä klikkauksia */
  width: 100%;
  height: 100%;
  z-index: 1000; /* voi olla headerin/footterin alla tai päällä tarpeen mukaan */
}

/* Profiiliosio pienemmäksi ja oikealle */
header .profile {
    display: flex;
    flex-direction: column;  /* linkit päällekkäin */
    align-items: flex-end;   /* oikealle */
    font-size: 0.85rem;      /* pienempi fontti profiilille */
    line-height: 1.2;
}

/* Lisää tilaa profiililinkkien väliin */
.profile .user-link,
.profile .logout {
    margin-bottom: 0.4rem;  /* tilaa alareunaan, säädä tarpeen mukaan */
}

/* Sähköposti linkkinä omiin pajoihin */
.profile .user-link a {
    text-decoration: underline;
    font-weight: bold;
    color: hsl(98, 95%, 16%);
    background-color: #cc281c;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.profile .user-link a:hover {
    color: #ffffff;
    background-color: #35b660;
    text-decoration: none;
}

/* Kirjaudu ulos -linkki */
.profile .logout a {
    text-decoration: underline;
    font-weight: bold;
    color: #02571e;
    background-color: #cc281c;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.profile .logout a:hover {
    color: #ffffff;
    background-color: #ff4545;
    text-decoration: none;
}

/* Kirjaudu -linkki, jos ei ole kirjautunut */
.profile .login a {
    text-decoration: underline;
    font-weight: bold;
    color: #089136;
    background-color: #cc281c;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.profile .login a:hover {
    color: #ffffff;
    background-color: #089136;
    text-decoration: none;
}

